.imagemDeFundo{
    background-image: url("imagens/solicitacao.jpg"); 
    height: 321px;
    width: 1110px;
    
}

.logobarra{
    background-image: url("imagens/logo_barra.png"); 
     
 }
 .botao-view {

    background-image: url("imagens/view.png");
    
    cursor: pointer;
}

.botao-delete {
    background-image: url("imagens/delete.png");
    cursor: pointer;
    }
.botao-exit {
background-image: url("imagens/exit.png");
cursor: pointer;


}
.botao-no {
    background-image: url("imagens/no.png");
    cursor: pointer;
}
.botao-ok {
    background-image: url("imagens/like.png");
    cursor: pointer;
}